@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Nunito+Sans:wght@200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
    color: white;
}
:root{
    --primary-text-color: white;
    --primary-background-color: #0f0f0f;
    --secondary-text-color: #737373;
    --disabled-text-color: #9b9b9b;
    --divider-color: #dbdbdb;
    --error-color: #dd2c00;
    --primary-color: #3f51b5;
    --light-primary-color: #c5cae9;
    --dark-primary-color: #303f9f;
    --accent-color: #ff4081;
    --light-accent-color: #ff80ab;
    --dark-accent-color: #f50057;
    --light-theme-background-color: #fff;
    --light-theme-base-color: #000;
    --light-theme-text-color: #212121;
    --light-theme-secondary-color: #737373;
    --light-theme-disabled-color: #9b9b9b;
    --light-theme-divider-color: #dbdbdb;
    --dark-theme-background-color: #212121;
    --dark-theme-base-color: #fff;
    --dark-theme-text-color: #fff;
    --dark-theme-secondary-color: #bcbcbc;
    --dark-theme-disabled-color: #646464;
    --dark-theme-divider-color: #3c3c3c;
    --text-primary-color: var(--dark-theme-text-color);
    --default-primary-color: var(--primary-color);
    --ytd-searchbox-legacy-border-color:#303030;
}
@media (min-width:900px) {
    .nav{
        background-color: var(--primary-background-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        height: 56px;
        position: fixed;
        width: 100%;
    }
    
    .nav-item{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 20px;
    
    }
    .menu-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 25px;
    }
    .fa-bars{
        background-color: #00000000;
    }
    /* .menu-bar:hover{
        background-color: var(--secondary-text-color);
        border-radius: 50px;
    } */
    .search-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }
    .text{
        border: 1px solid var(--ytd-searchbox-legacy-border-color);
        border-radius: 40px 0px 0px 40px;
        width: 500px;
        height: 40px;
        padding: 15px;
        font-size: 15px;
    }
    .text:hover{
        border: 1px solid #3ea6ff;
    }
    .search-section{
        display: flex;
        flex-direction: row;
        justify-content: space-around !important;
    }
    .btn{
        width:50px;
        height: 40px;
        border: 1px solid var(--ytd-searchbox-legacy-border-color);
        border-radius: 0px 40px 40px 0px;
        background-color: #282828;
        font-weight: bold;
        font-size: 15px;
    }
    .fa-magnifying-glass{
        background-color: none;
    }
    .voice-search{
        width: 40px;
        height: 40px;
        background-color: var(--ytd-searchbox-legacy-border-color);
        padding: 6px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }
    .voice-search:hover{
        background-color: #3a3a3a;
    }
    /* Inshallah Next From Here Date On 02/01/2024*/
    .upload-btn{
        padding: 6px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        width: 40px;
        height: 40px;
    }
    .upload-btn:hover{    
        background-color: var(--ytd-searchbox-legacy-border-color);
    }
    .notification-btn{
        padding: 6px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        width: 40px;
        height: 40px;
    }
    .notification-btn:hover{    
        background-color: var(--ytd-searchbox-legacy-border-color);
    }
    .profile-img{
        padding: 6px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-right: 20px; */
        width: 40px;
        height: 40px;
    }
    .search-btn{
        display: none;
    }
    .sidebar-footer{
        display: flex;
        flex-direction: column;
        width: 72px;
        padding: 0 4px;
        position: fixed;
        margin-top: 50px;
        left: 0;
    }    
    .sitemf{
        width: 64px;
        height: 74px;
        padding: 20px;
        display: flex;
        size: 20px;
        display: flex;        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fa-icon, .fa-ion, .icon-name{
        background-color: #00000000;
    }
    .fa-text{
        /* position: relative;
        align-items: center;
        justify-content: center; */
        text-align: center;
        font-size: 10px;
        background-color: #00000000;
    
    }
    .sitemf:hover{
        background-color: #737373;
        border-radius: 10px;
    }
    /* Top Bar Start from Here */
    .top-bar{
        display: flex;
        flex-direction: row;
        margin-left: 75px;
        gap: 10px;
        /* overflow: scroll; */
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        /* margin-left: 100px; */
        padding-top:60px;
    }
    .top-bar::-webkit-scrollbar {
        width: 0; /* Adjust the width as needed */
    }   
    .top-items{
        padding: 8px;
        background-color: #2c2a2a;
        border-radius: 6px;
        font-size: 0.9rem;
    }
    .active-top{
        background-color: #f1f1f1;
        color: #0f0f0f;
    }
    .top-items:hover{
        background-color: #ffffff1a;
    }
    .video-content{
        width: auto;
        /* padding-top: 20px; */
        margin-left: 72px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        /* justify-content: flex-start; */
    }
    .video-card{
        display: flex;
        flex-direction: column;
        gap: 10px;

    }
    .logo-channal{
        width: 36px;
        height: 36px;
        border-radius: 20px;
    }
    .thumb-image{
        border-radius: 10px;
    }
    .img-contet{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-evenly;
    }
    .title-heading{
        color: var(--yt-spec-text-primary);
        font-family: "Roboto","Arial",sans-serif;
        font-size: 1.3rem;
    }
    .channel-name{
        color: #aaa;
        font-size: 14px;
    }
    .view-s-details{
        color: #aaa;
        font-size: 14px;
    }
    .video-info{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .footer{
        display: none;
    }
}
/* Responsive nav bar */
@media (max-width:900px) {
    .menu-bar{
        display: none;
    }
    .voice-search{
        display: none;
    }
    .upload-btn{
        display: none;
    }
    .notification-btn{
        display: none;        
    }
    .text{
        display: none;
        /* border: 1px solid var(--ytd-searchbox-legacy-border-color);
        border-radius: 40px 0px 0px 40px;
        width: 200px;
        height: 20px;
        padding: 15px;
        font-size: 15px; */
    }
    .btn{
        width:50px;
        display: none;
        height: 20px;
        border: 1px solid var(--ytd-searchbox-legacy-border-color);
        border-radius: 0px 40px 40px 0px;
        background-color: #282828; */
        font-weight: bold;
        font-size: 15px;
    }
    /* .fa-magnifying-glass{
        padding: 10px;
        background-color: #0c0c0c;
        font-weight: bold;
        font-size: 15px;
    } */
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border:1px solid var(--ytd-searchbox-legacy-border-color) ;
    }
    .profile-img{
        padding: 6px;
        border-radius: 50px;
        display: none;
        align-items: center;
        justify-content: center;
        /* margin-right: 20px; */
        width: 40px;
        height: 40px;
    }
    .fa-magnifying-glass{
        background-color: none;
    }
    .search-btn{
        padding: 2px;
        width: 24px;
        height: 24px;
        /* padding: ; */
        margin: 10px;
        
    }
    .sidebar-footer{
        display: none;
    }
    /* Top Bar */
    .top-bar{
        display: flex;
        flex-direction: row;
        /* margin-left: 75px; */
        padding: 5px;
        gap: 10px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        /* height: 48px; */
    }
    .top-bar::-webkit-scrollbar {
        width: 0; /* Adjust the width as needed */
    }   
    .top-items{
        padding: 8px;
        width: 100%;
        height: 10%;
        background-color: #2c2a2a;
        border-radius: 6px;
        font-size: 0.9rem;
        /* overflow: scroll; */
    }
    .top-items:hover{
        background-color: #ffffff1a;
    }
    .active-top{
        background-color: #f1f1f1;
        color: #0f0f0f;
    }   
    /* Content Section */
    .video-content{
        width: auto;
        /* padding-top: 20px; */
        /* margin-left: 72px; */
        /* margin-top: 20px; */
        margin: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        /* justify-content: flex-start; */
    }
    .video-card{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

    }
    .logo-channal{
        width: 36px;
        height: 36px;
        border-radius: 20px;
    }
    .thumb-image{
        border-radius: 10px;
        width: 100%;
    }
    .img-contet{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-evenly;
    }
    .title-heading{
        color: var(--yt-spec-text-primary);
        font-family: "Roboto","Arial",sans-serif;
        font-size: 1.3rem;
    }
    .channel-name{
        color: #aaa;
        font-size: 14px;
    }
    .view-s-details{
        color: #aaa;
        font-size: 14px;
    }
    .video-info{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    /* footer */
    .footer{
        display: flex;
        /* -webkit-justify-content: space-around; */
        /* justify-content: space-around; */
        flex-direction: row;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 5px;
        /* padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
        /* z-index: 3; */
        height: 48px;
        border-top: 1px solid rgba(255,255,255,0.2);
        background: #0f0f0f;
        color: #f1f1f1;
        font-size: 1.1rem;
        /* flex-wrap: wrap; */
    }
    .fa-text-f{
        font-size: 10px;
        text-align: center;
    }
    .profile-img-s{
        padding: 6px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-right: 20px; */
        width: 40px;
        height: 40px;
    }
    .ffa-ion, fa-icon{
       align-items: center;
       justify-content: center;
       /* position: c; */
       text-align: center;
    }
}
/* @media (max-width:900px) { 585*/
/* @media (min-width:585px) {
    .video-content{
        display: flex;
        width: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
} */

/* this Clone I Making Using Only Flex-box Properties to Practice Flex-box
Also I am Using Different Types of Icons Not the Same Like Youtube Because It's Difficult to Search and Use, I Am Creating  This In 2.5 Hours ONly.
*/
